li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  margin-right: 15px;
}

.MuiCard-root {
  position: relative;
}

.MuiCardActions-root {
  position: absolute;
  bottom: 0;
}

.MuiCardContent-root {
  margin-bottom: 35px;
  color: #BF3636;

}

.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me {
  font-size: large;
  flex-wrap: wrap;
  width: 400px;
  color: black;
}

.profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

img {
  height: 150px;
  width: 200px;
}

.topicHeaders {
  color: black;
  font-weight: bold;
  padding-bottom: 20px;
}

.container {
  margin: 15px;
  text-align: center;
}

.contentcontainer {
  width: 100px;
  height: 100px;
  text-align: center;
}


.navitems {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.name-and-typewriter {
  padding-bottom: 15px;
  color: black;
}

@media screen and (max-width: 600px) {
  .allSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
}

@media screen and (max-width: 600px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.project-description {
  display: inline-block;

}